.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: relative;
    display: inline-block;
    right: 15px;
    /*margin-top: 5px;*/
    left:2px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}

.error, .message {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.disabled {
    opacity: 0.3;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.message {
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}

/*test*/
img { border:0; }

p { font-size: 1.2em; line-height: 1.3em; margin-bottom: 10px; }

h1 { font-weight: normal; font-size: 1.9em; line-height: 2.0em; color: #545454; letter-spacing: -0.04em; }

/** containers **/
#wrap { width: 60%; margin: 0 auto; background: #d7dfe0; border-radius: 7px; margin-top: 0px; }
#wrap header { border-bottom: 1px solid #b6bdbe; margin: 15px 22px; margin-bottom: 35px; padding-top: 1px; position: relative;  }

#wrap footer { border-top: 1px solid #b6bdbe; padding-bottom: 40px; margin: 15px 22px;  }

#wrap header .list-style-buttons { position: absolute; right: 0; bottom: 12px; }

/** grid view **/
ul.grid { list-style: none; margin: 0 auto; padding-left: 25px; }
ul.grid li { position: relative; display: block; float: left; width: 220px; height: 200px; border-right: 1px solid #b6bdbe; padding: 5px 22px; margin-bottom: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
ul.grid li.third { border: 0; }

ul.grid li section.left { position: relative; }
ul.grid li section.right { /* nothing */ }

ul.grid li section.left img.featured-banner { position: absolute; top: 0; }

ul.grid li section.left h3 { font-family: "Trebuchet MS", Arial, sans-serif; font-weight: bold; text-transform: uppercase; color: #707375; font-size: 1.4em; line-height: 1.5em; }
ul.grid li section.left span.meta { display: block; color: #93989b; font-weight: normal; font-size: 1.1em; margin-bottom: 7px; }

ul.grid li section.right span.price { font-weight: bold; display: block; margin-bottom: 5px; color: #378f92; font-size: 1.75em; }


ul.grid li section.right span.darkview {
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 200px;
    margin: 0 15px;
    border-radius: 6px;
    background: rgba(41, 198, 148, 0.75);
    overflow: hidden;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: opacity 0.2s linear 0s;
    -webkit-transition: opacity 0.2s linear 0s;
    -moz-transition: opacity 0.25s linear 0s;
    -o-transition: opacity 0.25s linear 0s;
}
ul.grid li:hover section.right span.darkview { opacity: 1; }

ul.grid li section.right span.darkview a.firstbtn { display: block; margin-bottom: 10px; }

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

textarea {
    resize: none;
}

/*------------------test----------------------*/
.form-control {
    box-shadow: none;
    border-radius: 4px;
    border-color: #dfe3e8;
}
.form-control:focus {
    border-color: #29c68c;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.navbar-header.col {
    padding: 0 !important;
}
.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
}
.navbar .navbar-brand {
    font-size: 20px;
    padding-left: 0;
    padding-right: 50px;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #29c68c;
}
.navbar ul.nav li a {
    color: #999;
}
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
    color: #29c68c !important;
}
.navbar ul.nav li.active > a, .navbar ul.nav li.open > a {
    color: #26bb84 !important;
    background: transparent !important;
}
.navbar .form-inline .input-group-addon {
    box-shadow: none;
    border-radius: 2px 0 0 2px;
    background: #f5f5f5;
    border-color: #dfe3e8;
    font-size: 16px;
}
.navbar .form-inline i {
    font-size: 16px;
}
.navbar .form-inline .btn {
    border-radius: 2px;
    color: #fff;
    border-color: #29c68c;
    background: #29c68c;
    outline: none;
}
.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
    border-color: #26bb84;
    background: #26bb84;
}
.navbar .search-form {
    display: inline-block;
}
.navbar .search-form .btn {
    margin-left: 4px;
}
.navbar .search-form .form-control {
    border-radius: 2px;
}
.navbar .login-form .input-group {
    margin-right: 4px;
    float: left;
}
.navbar .login-form .form-control {
    max-width: 158px;
    border-radius: 0 2px 2px 0;
}
.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
    padding: 6px 20px;
}
.navbar .navbar-right .dropdown-menu {
    width: 505px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
@media (min-width: 1200px){
    .search-form .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .navbar-right .dropdown-menu {
        width: 100%;
        background: transparent;
        padding: 10px 20px;
    }
    .navbar .input-group {
        width: 100%;
        margin-bottom: 15px;
    }
    .navbar .input-group .form-control {
        max-width: none;
    }
    .navbar .login-form .btn {
        width: 100%;
    }
}


/*table*/

body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #26bb84;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: grey;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}
.modal form label {
    font-weight: normal;
}